<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <div id="MovieFrameByFrame"></div>
    <canvas id= "frames"></canvas>
    <canvas id= "painting"></canvas>
    <script>
        let socket = io.connect("http://"+document.domain+':'+location.port);
        let img = document.createElement("img");
        let is_first= true;
        let MovieBox = document.getElementById("frames");
        let PaintingBox = document.getElementById("painting");
        set_canvasProp(MovieBox);
        set_canvasProp(PaintingBox);
        let CntxMovieBox = MovieBox.getContext("2d");
        let CntxPaintingBox = PaintingBox.getContext("2d");
        socket.on("connect", ()=>{
            socket.emit("connected");
        });
        socket.on("Ap-connection", (msg)=>{
            console.log('here'); 
        });
        socket.on("Frame", async (Frame)=>{
            console.log("Frame");
            if(!is_first)
                clear_cavasCntx(CntxMovieBox, MovieBox);
            img.src = 'data:image/jpg;base64, '+base64ArrayBuffer(Frame.frame);
            img.style.width="100%";
            img.onload= () => {
                CntxMovieBox.drawImage(img, 0, 0);
                is_first = false;
            };
        });

        function base64ArrayBuffer(arrayBuffer) {
        var base64    = ''
        var encodings = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/'

        var bytes         = new Uint8Array(arrayBuffer)
        var byteLength    = bytes.byteLength
        var byteRemainder = byteLength % 3
        var mainLength    = byteLength - byteRemainder

        var a, b, c, d
        var chunk

        // Main loop deals with bytes in chunks of 3
        for (var i = 0; i < mainLength; i = i + 3) {
            // Combine the three bytes into a single integer
            chunk = (bytes[i] << 16) | (bytes[i + 1] << 8) | bytes[i + 2]

            // Use bitmasks to extract 6-bit segments from the triplet
            a = (chunk & 16515072) >> 18 // 16515072 = (2^6 - 1) << 18
            b = (chunk & 258048)   >> 12 // 258048   = (2^6 - 1) << 12
            c = (chunk & 4032)     >>  6 // 4032     = (2^6 - 1) << 6
            d = chunk & 63               // 63       = 2^6 - 1

            // Convert the raw binary segments to the appropriate ASCII encoding
            base64 += encodings[a] + encodings[b] + encodings[c] + encodings[d]
        }

        // Deal with the remaining bytes and padding
        if (byteRemainder == 1) {
            chunk = bytes[mainLength]

            a = (chunk & 252) >> 2 // 252 = (2^6 - 1) << 2

            // Set the 4 least significant bits to zero
            b = (chunk & 3)   << 4 // 3   = 2^2 - 1

            base64 += encodings[a] + encodings[b] + '=='
        } else if (byteRemainder == 2) {
            chunk = (bytes[mainLength] << 8) | bytes[mainLength + 1]

            a = (chunk & 64512) >> 10 // 64512 = (2^6 - 1) << 10
            b = (chunk & 1008)  >>  4 // 1008  = (2^6 - 1) << 4

            // Set the 2 least significant bits to zero
            c = (chunk & 15)    <<  2 // 15    = 2^4 - 1

            base64 += encodings[a] + encodings[b] + encodings[c] + '='
        }
        
        return base64
    }
        function set_canvasProp(canvas){
            canvas.width = 600;
            canvas.height = 600;
        }
        function clear_cavasCntx(Cntx, canvas){
            console.log("the canvas was cleared");
            Cntx.clearRect(0, 0, canvas.width, canvas.height); 
        }

        
    </script>
</body>
</html>